<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1><%= ["ram","shyam","mohan"] [0]%></h1>
    <h1><p>My name is shubham my father name is deendayal
         my college name rrgi mordern technology lucknow</p></h1>
         <button>Click</button>
</body>
</html>